<section class="pure-u">
	<div class="pure-g-r">
		<input type="search">
		<input type="submit" class="submit" value="&nbsp;">
	</div>
	<div class="pure-g-r">
		<div class="pure-u-1-4 album">
			<img class="album-art" src="images/main/albumart.png" alt="Album Art" />
			<div class="pure-g-r">
				<div class="pure-u">
					<span class="album-name">The Rip Tide</span>
					<span class="album-artist">Beirut</span>
					<img class="album-artist-image" src="images/james-blake.png" />
				</div>
			</div>
		</div>
		<div class="pure-u-1-4 album">
			<img class="album-art" src="images/main/albumart.png" alt="Album Art" />
			<div class="pure-g-r">
				<div class="pure-u">
					<span class="album-name">The Rip Tide</span>
					<span class="album-artist">Beirut</span>
					<img class="album-artist-image" src="images/james-blake.png" />
				</div>
			</div>
		</div>

		<div class="pure-u-1-4 album">
			<img class="album-art" src="images/main/albumart.png" alt="Album Art" />
			<div class="pure-g-r">
				<div class="pure-u">
					<span class="album-name">The Rip Tide</span>
					<span class="album-artist">Beirut</span>
					<img class="album-artist-image" src="images/james-blake.png" />
				</div>
			</div>
		</div>

		<div class="pure-u-1-4 album">
			<img class="album-art" src="images/main/albumart.png" alt="Album Art" />
			<div class="pure-g-r">
				<div class="pure-u">
					<span class="album-name">The Rip Tide</span>
					<span class="album-artist">Beirut</span>
					<img class="album-artist-image" src="images/james-blake.png" />
				</div>
			</div>
		</div>
	</div>

	<div class="pure-g-r">
		<div class="pure-u-1-4 album">
			<img class="album-art" src="images/main/albumart.png" alt="Album Art" />
			<div class="pure-g-r">
				<div class="pure-u">
					<span class="album-name">The Rip Tide</span>
					<span class="album-artist">Beirut</span>
					<img class="album-artist-image" src="images/james-blake.png" />
				</div>
			</div>
		</div>
		<div class="pure-u-1-4 album">
			<img class="album-art" src="images/main/albumart.png" alt="Album Art" />
			<div class="pure-g-r">
				<div class="pure-u">
					<span class="album-name">The Rip Tide</span>
					<span class="album-artist">Beirut</span>
					<img class="album-artist-image" src="images/james-blake.png" />
				</div>
			</div>
		</div>

		<div class="pure-u-1-4 album">
			<img class="album-art" src="images/main/albumart.png" alt="Album Art" />
			<div class="pure-g-r">
				<div class="pure-u">
					<span class="album-name">The Rip Tide</span>
					<span class="album-artist">Beirut</span>
					<img class="album-artist-image" src="images/james-blake.png" />
				</div>
			</div>
		</div>

		<div class="pure-u-1-4 album">
			<img class="album-art" src="images/main/albumart.png" alt="Album Art" />
			<div class="pure-g-r">
				<div class="pure-u">
					<span class="album-name">The Rip Tide</span>
					<span class="album-artist">Beirut</span>
					<img class="album-artist-image" src="images/james-blake.png" />
				</div>
			</div>
		</div>
	</div>
</section>