<!-- Page Navigation -->
<aside class="pure-u page-nav">
	<!-- Page Nav Mobile-->
	<a href="#menu" id="menuLink" class="pure-menu-link">
		<img src="images/navicon-png2x.png" width="20" alt="Menu Toggle">
	</a>

	<!-- Page Nav-->
	<div id="menu" class="pure-u">
		<div class="pure-menu pure-menu-open pure-menu-custom">
			<!-- <a href="#nav" class="pure-menu-heading">Yumi</a> -->
			<ul>
				<li class="menu-item-top"><a href="#search" onclick="switchContent('search' ); return false;">Search</a></li>
				<li><a href="#">Radio</a></li>
				<li class="menu-item-top"><a href="#current" onclick="switchContent('current' ); return false;">Queue</a></li>
				<!-- <li class="pure-menu-heading"><a href="#playlists" onclick="switchContent('playlists' ); return false;">Playlists</a></li> -->
				<li class="menu-item-divided"><a href="#">Coding Times</a></li>
				<li><a href="#">Bass Times</a></li>
				<li><a href="#">Checkout Times</a></li>
				<li><a href="#">Lo-fi Times</a></li>
				<li><a href="#">Acid Times</a></li>
				<li class="add_playlist"><a href="#"><img src="images/sidemenu/add_playlist.png"></a></li>
			</ul>
		</div>
	</div>
</aside>