<aside class="page-nav">
	<!-- Page Nav Mobile-->
	<a href="#menu" id="menuLink" class="pure-menu-link">
		<img src="images/navicon-png2x.png" width="20" alt="Menu Toggle">
	</a>

	<!-- Page Nav-->
	<div id="menu">
		<div class="pure-menu pure-menu-open pure-menu-custom">
			<!-- <a href="#nav" class="pure-menu-heading">Yumi</a> -->
			<ul ng-controller="playlistController">
				<li class="menu-item-top"><a href="#search">Search</a></li>
				<!-- <li><a href="#">Radio</a></li> -->
				<!-- <li class="menu-item-top"><a href="#current" onclick="switchContent('current' ); return false;">Queue</a></li> -->
				<!-- <li class="pure-menu-heading"><a href="#playlists" onclick="switchContent('playlists' ); return false;">Playlists</a></li> -->
				<li class="add_playlist menu-item-divided"><a ng-click="createPlaylist()"><img src="images/sidemenu/add_playlist.png"></a></li>

				<li ng-repeat="playlist in playlists"><a href="{{playlist.uri}}">{{playlist.name}}</a></li>
			</ul>
		</div>
	</div>
</aside>