<!-- Page Navigation -->
<aside class="queue">
	<table class="pure-table">
		<thead>
			<tr>
				<th>Track</th>
				<th>Artist</th>
				<th>Time</th>
				<th>Album</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Made To Stray</td>
				<td>Mount Kimbie</td>
				<td>4:47</td>
				<td>Cold Spring Fault Less Youth</td>
			</tr>

			<tr>
				<td>Unluck</td>
				<td>James Blake</td>
				<td>3:01</td>
				<td>James Blake</td>
			</tr>

			<tr>
				<td>Quest</td>
				<td>Nosaj Thing</td>
				<td>1:37</td>
				<td>Drift</td>
			</tr>
		</tbody>
	</table>
</aside>