<!-- Page Navigation -->
<aside class="queue" ng-controller="tracklistController">
	<table class="pure-table">
		<thead>
			<tr>
				<th>
				<th>Track</th>
				<th>Artist</th>
				<th>Time</th>
				<th>Album</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(i, track) in tracklist" ng-click="changeTrack(track)">
				<td>{{ track.track_no }}</td>
				<td>{{ track.name }}</td>
				<td>{{ track.artists[0].name }}</td>
				<td>{{ track.length | date: 'm:ss' }}</td>
				<td>{{ track.album.name }}</td>
			</tr>
		</tbody>
	</table>
</aside>