body {
	font-family: sans-serif;
	color: #777;
}

/* Add transition to containers so they can push in and out */
.layout, #menu, .pure-menu-link {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}


/*
 * Z-indexes
 */
.queue{ z-index: 1000; }
#menu{ z-index: 1000; }
#player{ z-index: 3000; }


/* --------------------------
 * Element Styles
 * --------------------------
*/
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: rgb(75, 75, 75);
}

a {
	color: #3b8bba; /* block-background-text-normal */
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 1px;
}

a:visited {
	color: #265778; /* block-normal-text-normal */
}

dt {
	font-weight: bold;
}
dd {
	margin: 0 0 10px 0;
}


